# --- Claude ---
# .claude/settings.local.json. # For now, commit this for backup
*.scsyndef
build/
.claude/worktrees/
CLAUDE.local.md

.DS_Store
CVOut/.DS_Store
SCExtensions/.DS_Store
.DS_Store
.DS_Store
.DS_Store
FileIO/.DS_Store
Instr/.DS_Store
FileIO/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
FileIO/.DS_Store
.DS_Store
FileIO/.DS_Store
.DS_Store
.DS_Store
FileIO/.DS_Store
.DS_Store
Instr/.DS_Store
Transformations/.DS_Store
Transformations/Math/.DS_Store
.DS_Store
SCExtensions/.DS_Store
Instr/.DS_Store
.DS_Store
.DS_Store
FileIO/.DS_Store
.DS_Store
.DS_Store
.DS_Store
SCExtensions/.DS_Store
.DS_Store
FileIO/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
